@model myproject1.Models.IronMode
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <ul>
        <li>Obj</li>
        <li>@Model.ID</li>
        <li>@Model.Name</li>
        <li>@Model.Age</li>
        <li>@Model.Address</li>
    </ul>
</body>
</html>


