@{
    ViewData["Title"] = "Home Page";
}
@* 用MODEL前還必須在View檔案引用MODEL*@

@model WebApplication1.Models.HomeViewModel;
<div class="center">
    <h1>會員登入</h1>
    <form method="post" asp-action="Index">
        <label>帳號</label>
        <input type="text" asp-for="Account" />
        <br />
        <label>密碼</label>
        <input type="text" asp-for="Password" />
        <br/>
        <input type="submit" value="登入"/>
    </form>
    <input type="button" value="Create" onclick="location.href='@Url.Action("AddMember", "Home")'" />
</div>


